// Colors
$white:#fefefe;
$black:#231F20;
$purple:#9370DB;
$purple-light:#8160C5;
$yellow:#EFCC12;
$green: #27C26C;
$red: #ff0000;
$orange: #FF9900;

$bg-light: rgba(217, 217, 217, 0.14);

 

// Border Radius Default
$border-radius: 10px;


// Body Default
$body-bg: $white;
$body-color: $black;


// Screen Breakpoints
$mobile: 767px;
$tablet-sm: 991px;
$tablet-lg: 1024px;
$laptop: 1200px;
$laptop-lg: 1400px;



